@model Flight

<div class="container">
    <h2>Flight @Model.FlightNumber has ended.</h2>

    <a asp-controller="Home" asp-action="ViewAllFlights" class="btn btn-primary">Return to flights</a>
</div>
