@model TableWithButtonViewModel

<div class="container">

    <h2>Welcome, Captain. The following flights are ready for takeoff</h2>

    <partial name="_FlightGridWithButton" model="Model" />

</div>